OPENAI_API_KEY=""

# OPTIONALLY CHANGE DEFAULT MODEL
DEFAULT_MODEL_NAME="DeepSeek-R1-Distill-Llama-8B-GGUF"
DEFAULT_MODEL_TEMPERATURE=1.25
DEFAULT_MODEL_PROVIDER="OLLAMA"
ANTHROPIC_API_KEY=""

# OPTIONAL LANGSMITH
LANGCHAIN_TRACING_V2=false
LANGCHAIN_ENDPOINT="https://api.smith.langchain.com"
LANGCHAIN_API_KEY=""
LANGCHAIN_PROJECT=""